body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #f8f9fa !important;
}

.slider {
    margin: 20px 0;
}

.caixa {
    text-align: center;
    margin: 20px 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.modal-header {
    background-color: #007bff;
    color: #ffffff;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
}

.modal-footer .btn-secondary:hover {
    background-color: #5a6268;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 100px; /* Ajuste a largura da logo em telas menores */
    }
}